In [2]:
!nvidia-smi

Thu Feb  6 20:48:15 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.90.07              Driver Version: 550.90.07      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA RTX 5000 Ada Gene...    Off |   00000000:01:00.0  On |                  Off |
| 30%   33C    P8             22W /  250W |     497MiB /  32760MiB |      0%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A      2297      G   /usr/lib/xorg/Xorg                            161MiB |
|    0   N/A  N/A      2474      G   /usr/bin/gnome-shell                          143MiB |
|    0   N/A  N/A      3389      G   ...erProcess --variations-seed-version        125MiB |
|    0   N/A  N/A      5039      G   ...seed-version=20250109-180111.451000         50MiB |
+-----------------------------------------------------------------------------------------+

In [3]:
import cudf

In [4]:
df = cudf.read_parquet('../data/american_stories_1938_1945.parquet')

In [5]:
!nvidia-smi

Thu Feb  6 20:49:37 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.90.07              Driver Version: 550.90.07      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA RTX 5000 Ada Gene...    Off |   00000000:01:00.0  On |                  Off |
| 30%   36C    P5             50W /  250W |    4887MiB /  32760MiB |      1%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A      2297      G   /usr/lib/xorg/Xorg                            161MiB |
|    0   N/A  N/A      2474      G   /usr/bin/gnome-shell                          143MiB |
|    0   N/A  N/A      3389      G   ...erProcess --variations-seed-version        147MiB |
|    0   N/A  N/A      5039      G   ...seed-version=20250109-180111.451000         52MiB |
|    0   N/A  N/A     13254      C   ...y/anaconda3/envs/cuda124/bin/python       4360MiB |
+-----------------------------------------------------------------------------------------+

In [6]:
df.shape

(4368788, 8)

In [7]:
df.info()

<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 4368788 entries, 0 to 4368787
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   article_id      object
 1   newspaper_name  object
 2   edition         object
 3   date            object
 4   page            object
 5   headline        object
 6   byline          object
 7   article         object
dtypes: object(8)
memory usage: 3.9+ GB

In [8]:
df.head(5)

,article_id,newspaper_name,edition,date,page,headline,byline,article
0,1_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Fear Heavy Toll Among Civilians In Next Conflict,,Recognition of a probable heavy toll among non...
1,3_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,,,"Conforming to tradition, the Democratic candid..."
2,4_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Audience Thrilled By\n\n Early Masters Works\n...,,second by Kasper Ferdinand Fisch- CT.\n\n FOlk...
3,5_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Democrats Institute Court Action T oday\n\n To...,,in behalf of Charles Maloney of Se4 East Main ...
4,6_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,q WOMEN SEEK\n\n ELECTION JOBS\n\nNone Candida...,BY RUBY A. BLACK nifAd preea Sfaff Corresnovad...,NUnlte0 freSS Stam COrreSpOn0ent)\n\n Washingt...

In [9]:
df.describe()

,article_id,newspaper_name,edition,date,page,headline,byline,article
count,4368788,4368788,4368788,4368788,4368788,4368788,4368788,4368788
unique,4368788,90,2,2922,152,2284264,201573,4304503
top,100_1938-01-01_p21_sn83045462_00280601676_1938...,Evening star.,01,1939-01-05,p1,,,Continued from Page D
freq,1,2085262,4364720,2797,374117,1490841,3793740,2093

In [10]:
df["newspaper_name"].unique()

0                The Waterbury Democrat.
1                          Evening star.
2                      Twin-City herald.
3                  The Washington times.
4               The Daily Alaska empire.
                     ...
85                          Arizona sun.
86               The Chapel Hill weekly.
87            The Wyandotte news-herald.
88                          Post script.
89    Postscript of the Apache sentinel.
Name: newspaper_name, Length: 90, dtype: object

In [11]:
df["article"].value_counts()

article
Continued from Page D                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  2093
(Continued from Page D                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1939
Continued from Page One)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                710
(Continued on Page 4)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   670
Continued on Page D                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     640
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
Weeks Highlights Page ? Kodiak Diary 5 Railway Express Changes 3 Bank Has Birthday 3 Otto Kraft Death 4 GA Regi ter 4 Bond Payroll Plan at Base , Maps and Pictures 0 Church Notices / Tax, Other Notices 10 Patrol Assignments Il Classifeds Il                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
1t. Gen. H. H. Arnold, chief of\nthe Army Air Forces, was reported\n10 have told Senate Appropria-\ntions Subcommittee yesterday that\nthe Army was expanding its use\nof civilian planes and pilots in the\nanti-submarine patrol along the\nAtlantic Coast.\n\n\nGen. Arnold testified at the sug-\ngestion of Senator Brooks, Repub-\nlican, of Illinois. who has advocated\nwider use of civilian equipment in\nthis patrol, saying that 4,500 planes\nwere available to track down SUBJ\nmarines preying on merchant ship\nping. Senator Brooks declined to\ncomment on Gen. Arnold's testi-\nmony except to say he believed it\nconfirmed his Judgment that ad-\nditional planes could'be used.\n\n\nSenators O'Mahoney, Democrat\nOf Wyoming, and Russell, Demo-\ncrat, of Georgia, said they obtained\nthe impression that the Army was\nincreasing the number of planes\non patrol about as rapidly as cir\ncumstances would permit and that\n"a good job" was being done.       1
For tho third time an air raid\nuuniug siren was tested here and\nreports thal could bc heard TIVE\nmaes AWAY wu be nmcd own\nto Glenn C. Richards. civilian de-\nTense cd-ordinator for this area.\n\n\nThe test was run from the train\ning tower of the fire department\napparatus headquarters, 3i34 Rus\nsell street\n\n\nThe Nhree-horoepoWer electric\nSiCon. manufactured by a Michigan\nconcern at a cost of S264 each.\nwas demonstrated by Elton NJ\nEldrodgc regional manager Of the\nconcern.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
By the Associated Press.\n\n\nHOLLYWOOD, Oct. 27.-Garrett\nFort, At, stage and screen writer\ndied in Beverly Hills Hospital yes\nterday after having been found un-\nconscious on the bed in his apart\nment.\n\n\nPolice said he made arrangements\nlast week with an undertaken for his\nfuneral.\n\n\nBorn in New York City, Mr.. Fort\nwrote several Broadway produc-\ntions before coming to Hollywood\nHe wrote SO film plays.\n\n\nMr.. Forts agent, Bernard Sindell\nsaid the writer had not been ill and\nwas in good spirits when he last saw\nhim a week or 10 days ago.                                                                                                                                                                                                                                                                                                                                                                                                      1
99-pound class-Joe Collins (G.) Va\nMathew Binns (GD.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Name: count, Length: 4304503, dtype: int64