In [1]:
from datasets import load_dataset, concatenate_datasets
from huggingface_hub import list_repo_files
import pandas as pd

In [53]:
files = list(list_repo_files(repo_id='davanstrien/AmericanStories-parquet', repo_type='dataset'))

In [55]:
years = {
        "1938": [],
        "1939": [],
        "1940": [],
        "1941": [],
        "1942": [],
        "1943": [],
        "1944": [],
        "1945": []
         }
for year in years:
    for file in files:
        file_year = file.split('/')[-1].split("-")[0]
        if year in file_year:
            years[year].append(file)
print(years)

{'1938': ['data/1938-00000-of-00002-091c3285e9718147.parquet', 'data/1938-00001-of-00002-ee8604fd83ff776f.parquet'], '1939': ['data/1939-00000-of-00002-fc041e884dae3517.parquet', 'data/1939-00001-of-00002-00a4ab7e54bcd155.parquet'], '1940': ['data/1940-00000-of-00001-cc9e4c07d2868aac.parquet'], '1941': ['data/1941-00000-of-00002-90d725e865fcd277.parquet', 'data/1941-00001-of-00002-ff89c400ae6e2954.parquet'], '1942': ['data/1942-00000-of-00002-73a4a9ef208b48aa.parquet', 'data/1942-00001-of-00002-f2b2743c00a1e8b3.parquet'], '1943': ['data/1943-00000-of-00001-08d4eecdd9d63294.parquet'], '1944': ['data/1944-00000-of-00001-0898daee07832f8f.parquet'], '1945': ['data/1945-00000-of-00002-f78a1735b619bf2b.parquet', 'data/1945-00001-of-00002-eea83a5833687118.parquet']}

In [57]:
datasets = []
for year, files in years.items():
    dataset = load_dataset(
        "davanstrien/AmericanStories-parquet",
        data_files={year: files},
        split=year,
        verification_mode='no_checks'
    )
    datasets.append(dataset)

print(datasets)

[Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 665274
}), Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 556283
}), Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 496662
}), Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 637200
}), Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 523923
}), Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 467200
}), Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 433769
}), Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 588477
})]

In [58]:
combined_dataset = concatenate_datasets(datasets)
combined_dataset

Dataset({
    features: ['article_id', 'newspaper_name', 'edition', 'date', 'page', 'headline', 'byline', 'article'],
    num_rows: 4368788
})

In [59]:
%%time
df = pd.DataFrame(combined_dataset)
df

CPU times: user 1min 45s, sys: 1.38 s, total: 1min 47s
Wall time: 1min 49s

,article_id,newspaper_name,edition,date,page,headline,byline,article
0,1_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Fear Heavy Toll Among Civilians In Next Conflict,,Recognition of a probable heavy toll among non...
1,3_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,,,"Conforming to tradition, the Democratic candid..."
2,4_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Audience Thrilled By\n\n Early Masters Works\n...,,second by Kasper Ferdinand Fisch- CT.\n\n FOlk...
3,5_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Democrats Institute Court Action T oday\n\n To...,,in behalf of Charles Maloney of Se4 East Main ...
4,6_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,q WOMEN SEEK\n\n ELECTION JOBS\n\nNone Candida...,BY RUBY A. BLACK nifAd preea Sfaff Corresnovad...,NUnlte0 freSS Stam COrreSpOn0ent)\n\n Washingt...
...,...,...,...,...,...,...,...,...
4368783,28_1945-12-05_p7_sn88063294_00340589130_194512...,Detroit evening times.,01,1945-12-05,p7,,,Here's a contest you win! And what prize!\nA b...
4368784,10_1945-04-18_p35_sn83045462_00280604082_19450...,Evening star.,01,1945-04-18,p35,"ADVERTISEMENT,\n\nADNL n lSLhLt>1\nTorment OF ...",,II you can't get your feet of your mind\nbecau...
4368785,3_1945-04-18_p35_sn83045462_00280604082_194504...,Evening star.,01,1945-04-18,p35,Jury Rules Chaplin\nIs.Father;; Conference\nOn...,By the Associated Press.,"By the Associated Press.\n\n\nLOS ANGELES, Apr..."
4368786,21_1945-04-18_p35_sn83045462_00280604082_19450...,Evening star.,01,1945-04-18,p35,Use Your\nBeIdqet Account,,"It's easy as A-B-C to open a\nCharge, Budget o..."
4368787,6_1945-04-18_p35_sn83045462_00280604082_194504...,Evening star.,01,1945-04-18,p35,Verdict for Defendant,,A District Court jury yesterday\nreturned a ve...

In [60]:
%%time
warplane_articles = df[df['article'].str.lower().str.contains('warplane', na=False)]
warplane_articles

CPU times: user 3.23 s, sys: 291 ms, total: 3.53 s
Wall time: 3.53 s

,article_id,newspaper_name,edition,date,page,headline,byline,article
2407,14_1938-03-16_p5_sn83045462_00280601718_193803...,Evening star.,01,1938-03-16,p5,Spain,Continued From First Page },Continued From First Page)\nforce strongly Fre...
12475,12_1938-12-26_p30_sn83045462_00280602322_19381...,Evening star.,01,1938-12-26,p30,U. S. Protests to japan\nOn Property Bombing,By the Associated Press.,"BY the Associated Press.\n\n\nTOXIC, Dec. 26.-..."
18110,18_1938-12-03_p1_sn83045462_00280602310_193812...,Evening star.,01,1938-12-03,p1,japanese War Planes\nRaid Three Cities,~ the Associated Press.,hsSUCIdIcQ\n\n\nSHANGHAI. Dec. 3-Japanese\nwar...
18116,32_1938-12-03_p1_sn83045462_00280602310_193812...,Evening star.,01,1938-12-03,p1,France Hinges\nReich Pact on\n|ssueof Tunis\n\...,BY the Associated Press.,"ny the hSSOCldteQ fTeSS.\n\n\nPARIS, Dec. 3.-F..."
22295,10_1938-10-09_p1_sn83045462_00280601858_193810...,Evening star.,01,1938-10-09,p1,so REPORTED KILLED\nIN REBELS BOMBING\n\n100 O...,Ey the Associated Press.,"HS the Associated Press.\n\n\nBARCELONA, Oct. ..."
...,...,...,...,...,...,...,...,...
4359447,10_1945-02-07_p8_sn83045462_00280603831_194502...,Evening star.,01,1945-02-07,p8,"Army, Navy Call For More Planes",,"EAST HARTFORD, CONN. - Two re-\ncent announcem..."
4364779,4_1945-02-24_p1_sn88063294_00340588903_1945022...,Detroit evening times.,01,1945-02-24,p1,,,LONDON. Feb. % (INS)-Thou-\nsands of Allied wa...
4364795,27_1945-02-24_p1_sn88063294_00340588903_194502...,Detroit evening times.,01,1945-02-24,p1,,,Under cover OF q Shatterlng ar\ntillery and ai...
4366772,10_1945-01-18_p3_sn83045462_0028060382A_194501...,Evening star.,01,1945-01-18,p3,,,and more than so trucks were de-\nstroyed as A...
4367539,15_1945-08-30_p1_sn82014085_00393346814_194508...,The Waterbury Democrat.,01,1945-08-30,p1,MacArthur Formally Leads Troops\n\n Into Japan...,By RALPH TEATsORTH,0y AAkAAA4 AB &A1kA4 S&8Bz48 United Press Stan...

In [61]:
%%time
df['date'] = pd.to_datetime(df['date'])
df

CPU times: user 422 ms, sys: 11.6 ms, total: 434 ms
Wall time: 433 ms

,article_id,newspaper_name,edition,date,page,headline,byline,article
0,1_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Fear Heavy Toll Among Civilians In Next Conflict,,Recognition of a probable heavy toll among non...
1,3_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,,,"Conforming to tradition, the Democratic candid..."
2,4_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Audience Thrilled By\n\n Early Masters Works\n...,,second by Kasper Ferdinand Fisch- CT.\n\n FOlk...
3,5_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Democrats Institute Court Action T oday\n\n To...,,in behalf of Charles Maloney of Se4 East Main ...
4,6_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,q WOMEN SEEK\n\n ELECTION JOBS\n\nNone Candida...,BY RUBY A. BLACK nifAd preea Sfaff Corresnovad...,NUnlte0 freSS Stam COrreSpOn0ent)\n\n Washingt...
...,...,...,...,...,...,...,...,...
4368783,28_1945-12-05_p7_sn88063294_00340589130_194512...,Detroit evening times.,01,1945-12-05,p7,,,Here's a contest you win! And what prize!\nA b...
4368784,10_1945-04-18_p35_sn83045462_00280604082_19450...,Evening star.,01,1945-04-18,p35,"ADVERTISEMENT,\n\nADNL n lSLhLt>1\nTorment OF ...",,II you can't get your feet of your mind\nbecau...
4368785,3_1945-04-18_p35_sn83045462_00280604082_194504...,Evening star.,01,1945-04-18,p35,Jury Rules Chaplin\nIs.Father;; Conference\nOn...,By the Associated Press.,"By the Associated Press.\n\n\nLOS ANGELES, Apr..."
4368786,21_1945-04-18_p35_sn83045462_00280604082_19450...,Evening star.,01,1945-04-18,p35,Use Your\nBeIdqet Account,,"It's easy as A-B-C to open a\nCharge, Budget o..."
4368787,6_1945-04-18_p35_sn83045462_00280604082_194504...,Evening star.,01,1945-04-18,p35,Verdict for Defendant,,A District Court jury yesterday\nreturned a ve...

In [62]:
%%time
# Calculate article lengths and their 30-day rolling average
df['article_length'] = df['article'].str.len()
monthly_avg = (df.set_index('date')
              .groupby(pd.Grouper(freq='D'))['article_length']
              .mean()
              .rolling(window=30)
              .mean())
monthly_avg

CPU times: user 2.73 s, sys: 144 ms, total: 2.87 s
Wall time: 2.87 s

date
1938-01-01           NaN
1938-01-02           NaN
1938-01-03           NaN
1938-01-04           NaN
1938-01-05           NaN
                 ...
1945-12-27    820.900892
1945-12-28    817.233612
1945-12-29    819.950635
1945-12-30    824.519966
1945-12-31    818.777567
Freq: D, Name: article_length, Length: 2922, dtype: float64

In [63]:
%%time
# Calculate yearly article counts
yearly_counts = df.groupby(df['date'].dt.year).size()
yearly_counts

CPU times: user 62.5 ms, sys: 7.55 ms, total: 70 ms
Wall time: 69.2 ms

date
1938    665274
1939    556283
1940    496662
1941    637200
1942    523923
1943    467200
1944    433769
1945    588477
dtype: int64

In [64]:
%%time
avg_lengths = df.groupby('newspaper_name')['article_length'].mean()
avg_lengths

CPU times: user 273 ms, sys: 11.1 ms, total: 285 ms
Wall time: 284 ms

newspaper_name
Afro-American courier.                           808.737500
Arizona sun.                                     803.588235
Arkansas State press.                            699.571429
Arkansas survey-journal.                         591.464286
Askov American.                                  830.095110
                                                    ...
The weekly echo.                                 607.863636
Twin city press.                                 923.789474
Twin-City herald.                                750.779909
United automobile worker.                        908.856721
Worcester Democrat and the ledger-enterprise.    899.151076
Name: article_length, Length: 90, dtype: float64

In [65]:
%%time
newspaper_counts = df['newspaper_name'].value_counts()
newspaper_counts

CPU times: user 161 ms, sys: 903 μs, total: 162 ms
Wall time: 161 ms

newspaper_name
Evening star.                                    2085262
The Waterbury Democrat.                           696481
Imperial Valley press.                            398911
The Daily Alaska empire.                          282970
Detroit evening times.                            181744
                                                  ...
The Chronicle-star the Moss Point advertiser.         57
Arkansas survey-journal.                              56
Arizona sun.                                          51
The Southern advocate.                                42
Arkansas State press.                                 21
Name: count, Length: 90, dtype: int64

In [69]:
%%time
# Find articles that mention specific combinations of terms
complex_search = df[
    (df['article'].str.lower().str.contains('war', na=False)) &
    (df['article'].str.lower().str.contains('peace', na=False)) &
    (~df['article'].str.lower().str.contains('wartime', na=False))
]
complex_search

CPU times: user 9.2 s, sys: 659 ms, total: 9.86 s
Wall time: 9.87 s

,article_id,newspaper_name,edition,date,page,headline,byline,article,article_length,headline_case
11,15_1938-11-08_p3_sn82014085_00393347429_193811...,The Waterbury Democrat.,01,1938-11-08,p3,,,"Music of the early masters, the Austrian maste...",3572,1
99,5_1938-10-16_p35_sn83045462_00280601858_193810...,Evening star.,01,1938-10-16,p35,,,seconds previously appeared to be a\n\n\nmaneu...,4418,1
179,9_1938-02-19_p4_sn83045462_00280601706_1938021...,Evening star.,01,1938-02-19,p4,"Middle Europe Commonwealth\n\n\nAim of Hitler,...",b the Associated Press.,b the Associated Press\n\n\nVIENNA. Feb l9.-Fr...,2021,1
186,16_1938-02-19_p4_sn83045462_00280601706_193802...,Evening star.,01,1938-02-19,p4,j. S. HELD LACKING\n\n\nIN WAR MATERIAL\n\nJoh...,,Recognizing that manpower can be\nraised and t...,2985,1
366,2_1938-09-08_p6_sn83045462_00280601834_1938090...,Evening star.,01,1938-09-08,p6,MRS. BLAIR TALKS\n\n\nTOOXFORD GROUP\n\nCongre...,3y the Associated Press.,"1y the Associated Press.\n\n\nNTERLAKEN, Switz...",1524,1
...,...,...,...,...,...,...,...,...,...,...
4368652,21_1945-12-19_p6_sn83045462_00280604641_194512...,Evening star.,01,1945-12-19,p6,,,1t will never be possible to achieve\nabsolute...,4375,1
4368653,23_1945-12-19_p6_sn83045462_00280604641_194512...,Evening star.,01,1945-12-19,p6,,,To the Congress of the United\nStates:\n\n\nIn...,4262,1
4368664,10_1945-01-09_p2_sn82014085_00393346784_194501...,The Waterbury Democrat.,01,1945-01-09,p2,,,Action on the war front was called to the mind...,680,1
4368697,3_1945-09-12_p19_sn83045462_00280604586_194509...,Evening star.,01,1945-09-12,p19,Stocks Edge Higher\nAfter IrreguIarity;\n\n\nR...,Ey the Associate 4 Press.,"Ey the Associate Press.\n\n\nNE WYORK, Sept. 1...",1222,1
4368725,22_1945-10-04_p6_sn82014085_00393346826_194510...,The Waterbury Democrat.,01,1945-10-04,p6,The Firing Line\n\n By D. N. T.,,"DO you understand the Japan ese2""-From an Alfr...",2258,1

In [70]:
%%time
# Calculate article lengths if not already done
df['article_length'] = df['article'].str.len()

# Calculate multiple metrics about articles per newspaper per day
daily_stats = (df
    .groupby(['newspaper_name', pd.Grouper(key='date', freq='D')])
    .agg({
        'article_length': ['count', 'mean', 'std', 'min', 'max'],
        'article': lambda x: x.str.contains('war', case=False).sum()  # count war mentions
    })
    .reset_index()  # Convert index to columns
)

# Calculate 7-day rolling averages for each newspaper
rolling_stats = (daily_stats
    .set_index('date')  # Set date as index for rolling
    .groupby('newspaper_name')  # Group by newspaper
    .rolling(window=7, min_periods=1)  # Allow partial windows
    .mean()
    .reset_index()  # Convert back to regular DataFrame
)

rolling_stats

CPU times: user 14.8 s, sys: 212 ms, total: 15 s
Wall time: 14.9 s

<timed exec>:18: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.

                                      newspaper_name       date  \

0                             Afro-American courier. 1939-11-01
1                             Afro-American courier. 1940-07-01
2                             Afro-American courier. 1940-09-01
3                             Afro-American courier. 1940-11-01
4                             Afro-American courier. 1941-01-01
...                                              ...        ...
18312  Worcester Democrat and the ledger-enterprise. 1942-06-19
18313  Worcester Democrat and the ledger-enterprise. 1942-07-24
18314  Worcester Democrat and the ledger-enterprise. 1942-08-28
18315  Worcester Democrat and the ledger-enterprise. 1942-11-13
18316  Worcester Democrat and the ledger-enterprise. 1942-11-20

      article_length                                                     \
               count         mean          std         min          max
0          18.000000  1183.166667  1128.085273   21.000000  4325.000000
1          16.000000  1107.190476  1043.625836   80.500000  3715.500000
2          19.333333  1029.780830   969.267918   79.000000  3343.000000
3          20.000000  1004.585623   869.318441  136.000000  3132.000000
4          23.600000   890.226393   740.452607  117.600000  2695.600000
...              ...          ...          ...         ...          ...
18312      23.142857  1101.212204   682.932353  235.428571  2679.285714
18313      28.142857  1030.512868   715.604011  220.285714  2935.571429
18314      29.857143   901.465809   753.759150   98.000000  2978.000000
18315      31.571429   895.590485   781.887547   88.714286  3060.000000
18316      31.142857   751.497078   700.546259   64.428571  2738.571429

        article
       <lambda>
0      9.000000
1      7.000000
2      6.000000
3      6.750000
4      7.000000
...         ...
18312  7.428571
18313  9.142857
18314  9.571429
18315  9.428571
18316  8.428571

[18317 rows x 8 columns]

In [71]:
%%time
# Define the UDF to check for uppercase text
def str_isupper_udf(row):
    if row.isupper():
        return 0  # 0 for uppercase
    else:
        return 1  # 1 for mixed/lowercase

# Apply to headlines (headlines are often in uppercase)
df['headline_case'] = df['headline'].apply(str_isupper_udf)

# Group by newspaper and calculate percentage of uppercase headlines
uppercase_stats = (df
    .groupby('newspaper_name')
    .agg({
        'headline_case': ['count', 'mean']
    })
    .reset_index()
)

# Rename columns for clarity
uppercase_stats.columns = ['newspaper_name', 'total_headlines', 'pct_mixed_case']

# Sort by percentage of uppercase headlines (descending)
uppercase_stats = uppercase_stats.sort_values('pct_mixed_case')

uppercase_stats

CPU times: user 843 ms, sys: 25.9 ms, total: 869 ms
Wall time: 869 ms

                     newspaper_name  total_headlines  pct_mixed_case
77                   The messenger.             1760        0.511932
19                 Marion progress.              288        0.555556
67           The Wrangell sentinel.            23247        0.567256
35            The Carolina tribune.               65        0.676923
13  Hartford-Springfield chronicle.              164        0.682927
..                              ...              ...             ...
0            Afro-American courier.              160        0.956250
34                    The CIO news.             1563        0.968010
5                  Automotive news.             6974        0.982220
86                 Twin city press.               57        0.982456
2             Arkansas State press.               21        1.000000

[90 rows x 3 columns]